*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 40px;
    color:darkred ;
    font-weight: 600;
    font-family:'Lato', sans-serif;
}
 .nav-link:hover{
    background-color:darkgray;
    border-radius: 7px;
 }
 
 
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: darkmagenta;
    font-weight: bold;
    
}


.search{
    height: 42px;
    width: 88%;
    border-radius: 8px;
    outline: none;
    margin-right: -30px;
    border: 2px solid orangered;
}
.btn8:hover{
    background-color: orangered;
}
.container1{
    overflow: hidden;
}
 .img{
    background-size: cover;
}
.container1:hover img  {
    /* transform: scale(1.1); */
}
.btn0{
    height: 41px;
    width: 71%;
    border-radius: 9px;
    outline: none;
    border: none;
    color: white;
    background-color:orangered;
}

.main{
    background: url(fruit.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;
    width: 100%;

}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
height: 45px;
width: 27%;
border: none;
outline: none;
background-color:maroon ;
border-radius: 60px;
color: white;
font-weight: 700;
}
.btn1:hover{
background-color:crimson;
}
.new img{
    width: 200px;
    height: 170px;
    border-radius: 12px;
}
.product img{
    height: 220px;
    width: 190px;
    border-radius: 13px;
}
.product img:hover{
    background-color:darkgray;
}
.btn2{
    height: 45px;
    width: 23%;
    border: none;
    outline: none;
    background-color:maroon ;
    border-radius: 60px;
    color: white;
    font-weight: 700; 
}
.btn2:hover{
    background-color: crimson;
}
.card:hover{
    box-shadow: 4px 9px 21px 4px rgba(0,0,0,0.40);
}
.background img{
    height: 50vh;
    width: 60%;
}
.btn5{
    height: 45px;
    width: 23%;
    border: none;
    outline: none;
    background-color:maroon ;
    border-radius: 60px;
    color: white;
    font-weight: 700; 
}
.btn6{
    height: 46px;
    width: 30%;
    border: none;
    outline: none;
    background-color:white ;
    color: black;
    margin-left: -10px;
    font-weight: 700; 
}
.btn7{
    margin-left: 30px;
}
.news{
    background-color: black;
    color: white;
}
.news input{
    height: 45px;
    width: 48%;
    border: 2px solid white;
    outline: none;
    color: antiquewhite;

}
.carousel-caption{
    position: absolute;
    left: -24%;    
}
.carousel-inner{
    position: relative;
    right: -17%;
}

.btn{
    border: none;
    outline: none;
    background-color:blueviolet ;
    color:white;
    font-weight: 700; 
    border-radius: 8px;
}

.container5{
    background-color:grey;
}